.menu_ul li {
    display: inline-block;
    margin-top: 0;
}

.menu_ul{
    background-color: red;

}

.main_menu{
	background-color: #535353;
	list-style-type: none;
	margin-left: -15px;
	word-spacing: 40px;
	box-shadow: 1px 1px;
}
.main_menu li{
	margin-left: -35px;
	padding: 10px;
	color: white;
	display: inline-block;
    font-size: 15px;
}